## Common stuff.
version 1

use globals

global VERSION

delimiters "`", "`"
indirect "[", "]"
note ";;;"
comment "<--", "-->"

syntax {[
  "st" : "{{"
  "et" : "}}"
  "sd" : "{["
  "ed" : "]}"
  "ss" : "[["
  "es" : "]]"
  "sc" : "/*"
  "ec" : "*/"
  "si" : "`"
  "ei" : "`"
  "note"  : "##"
  "cond"  : "?"
  "csep"  : ";"
  "alias" : "="
  "pos"   : "*"
  "apply" : ":"
  "neg"   : "!"
]}

## Syntax
st () {{ <u>`syntax.st`</u> }}
et () {{ <u>`syntax.et`</u> }}
sd () {{ <u>`syntax.sd`</u> }}
ed () {{ <u>`syntax.ed`</u> }}
ss () {{ <u>`syntax.ss`</u> }}
es () {{ <u>`syntax.es`</u> }}
sc () {{ <u>`syntax.sc`</u> }}
ec () {{ <u>`syntax.ec`</u> }}
si () {{ <u>`syntax.si`</u> }}
ei () {{ <u>`syntax.ei`</u> }}
note  () {{ <u>`syntax.note`</u>  }}
cond  () {{ <u>`syntax.cond`</u>  }}
csep  () {{ <u>`syntax.csep`</u>  }}
alias () {{ <u>`syntax.alias`</u> }}
pos   () {{ <u>`syntax.pos`</u>   }}
apply () {{ <u>`syntax.apply`</u> }}
neg   () {{ <u>`syntax.neg`</u>   }}

## Attempts to use Page without export will fail.
Page (title) {{
`content=content()`
`Layout(title, content)`
}}

## Layout can be used without export though.
Layout (title, content) {{
<html>
<head>
<title>Garden: `title`</title>
<link rel="stylesheet" href="../style/main.css" />
<link rel="stylesheet" href="../style/docs.css" />
</head>
<body>
<h1>Garden -- A Functional Template Language</h1>
<h2>`VERSION`</h2>
<h2>`title`</h2>
`content`
<p id="footer"> 
<a href="index.html">Table of Contents</a> |
<a href="single_page.html">Single Page Version</a> |
<a href="https://github.com/supernovus/garden-spec/">Source</a>
</p>
</body>
</html>
}}

refOver () {{ See the Overriding Syntax section for more details. }}

custTwo (start, end) {{
<p class="note">
The <i class="s">`start`</i> and <i class="s">`end`</i> symbols are
customizable. `refOver()` 
</p>
}}

custOne (symb) {{
<p class="note">
The <i class="s">`symb`</i> symbol is customizable. `refOver()`
</p>
}}

var  (x) {{ <i class="v">`x`</i> }}
tmpl (x) {{ <i class="t">`x`</i> }}
stmt (x) {{ <code class="b">`x`</code> }}

