import "common" :export

content () {{
<p>
Sometimes you may want to use certain repeated strings or values in
multiple places, and have the ability to pull variable keys out of
said data from your templates.
</p>
<p>
That's where dictionaries come in handy. They are a flat key/value based
system, where a string key can contain a string or numeric value. No nested
data structures are supported in the default dictionaries (there are however
extensions which can provide such things, such as the JSON Blocks extension.)
</p>
<p>
A dictionary block looks similar to a template block, except that it does not
have a signature, and uses different delimiters:
</p>
<code class="block">
<i class="d">myDict</i> `sd()`
  "<i>name</i>" : "Garden"
  "<i>desc</i>" : "A template language"
  "<i>ver</i>"  : "1"
`ed()`
</code>
`custTwo(start=syntax.sd, end=syntax.ed)`
<p>
You can then access the dictionary object as another variable in your template.
Each key will be an object member, so in the above call, you could have a
call to 
<code>`ss()`<i class="d">myDict</i>.<i class="v">desc</i>`es()`</code> 
which would be replaced by the string "<em>A template language</em>".
</p>
<p class="note">
Currently you can only use dictionaries defined in the current namespace,
or those defined in any imported namespaces. Also, the only way to 
import namespaces dynamically, is progmatically using whatever API the 
Garden implementation offers.
In the Version 2 specification this will be addressed to allow for
dynamic namespace importing, and possibly direct referencing of dictionaries
(and other data, such as plugins) from other namespaces.
</p>
}}

