version 1

import "common"

mypage {[
  "name" : "Table of Contents"
]}

index (sections) {{
[[::content=tableOfContents(sections)]]
[[Layout(title=mypage.name, content)]]
}}

tableOfContents (sections) {{
<ul>
[[sections:sectionItem(*section)]]
</ul>
}}

sectionItem (section) {{
<li>[[section.name]]
<ul>
[[section.pages:pageItem(*page)]]
</ul>
</li>
}}

pageItem (page) {{
<li>
[[?page.file:fileLink(page);urlLink(page)]]
</li>
}}

fileLink (page) {{ <a href="[[page.file]].html" title="Since version [[page.spec]]">[[page.name]]</a> }}
urlLink  (page) {{ <a href="[[page.link]]" title="[[page.desc]]">[[page.name]]</a> }}

